{:aliases
 {:jkxyz/cider
  {:extra-deps
   {cider/cider-nrepl {:mvn/version "0.44.0"}
    refactor-nrepl/refactor-nrepl {:mvn/version "3.9.0"}}}

  :jkxyz/portal
  {:extra-deps
   {djblue/portal {:mvn/version "0.48.0"}}}}}
